* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #d8ebf7;
}

.app-container {
    font-family: 'Arial', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header.css */
.header {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
  }
  

#header-logo {
    width: 80%;
    max-width: 600px;
    height: auto;
    }

body {
    margin: 20px;
    padding: 20px;
}

label, #difficulty {
    margin: 20px 0;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out;
    max-width: 1200px;
}

.character-name {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.card {
    width: 150px;
    height: 250px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: transform 0.3s ease-in-out;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.card:hover {
    transform: scale(1.05);
}

.scoreboard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-weight: bold;
    animation: fadeIn 1s ease-in-out;
    font-size: 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

button {
    color: white;
    border: none;
    padding: 10px 15px;
    width: 100px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.1s ease-in-out;
    margin: 5px;
    border-radius: 25px;
}

.easy-button {
    background-color: rgb(17, 160, 17);
}

.medium-button {
    background-color: rgb(235, 160, 22);
}

.hard-button {
    background-color: rgb(224, 18, 18);
}

.easy-button:hover {
    background-color: rgb(20, 129, 20);
    transform: scale(1.05);
}

.medium-button:hover {
    background-color: rgb(197, 139, 31);
    transform: scale(1.05);
}

.hard-button:hover {
    background-color: rgb(184, 28, 28);
    transform: scale(1.05);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

